<h1>Conheça nossos produtos</h1>

Imagem dos produtos

<p>lista de produtos</p>

Catalogo de produtos para download

<%= link_to "/catalogo_sig.pdf", :target => "_blank" do %>
  <%= image_tag('catalogo_sig_s.png', class: "img-center") %>
<% end %>