body {
  // background-color: #faf5e4;
  background-color: #f8f8f8;
}

.texto-sobre {
  width: 75%;
  margin: 20px auto;
}

.container-img-sobre {
  width: 75%;
  margin: 20px auto;
}

.container-img-sobre img {
  max-width: 95%;
  margin: 15px auto;
}

.about {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.about h2 {
  font-weight: bold;
  margin: 20px auto;
}

.mapa img {
  margin-bottom: 20px;
}

.parceiros {
  width: 75%;
  margin: 30px auto;
  h3 {
    font-weight: bold;
  }
}
