.footer {
  background-color: $blue-sig;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 30px;
}

.rodape-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

.rodapeb i {
  padding-left: 15px;
}

.icon-info {
  display: flex;
  i {
    margin-right: 10px;
  }
}

.endereco p:first-of-type {
  margin-bottom: 0;
}

.social {
  font-size: 50px;
  i {
    color: white;
  }
  i:hover {
    color: yellow;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
