.footer {
  background-color: $blue-sig;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.social {
  font-size: 50px;
}


// .list-unstyled li p {
//   .fas {
//     width: 300px;
//   }
// }